<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookShop</title>
</head>
<body>
<div>
    <h1>Add Book</h1>

    <form action="#" th:action="@{/books}" method="post" th:object="${book}" enctype="multipart/form-data">
        <label>Book Title:</label>
        <input type="text" th:field="*{title}" /><br/>

        <label>Author Name:</label>
        <input type="text" th:field="*{authorName}" /><br/>

        <label>Price:</label>
        <input type="text" th:field="*{price}" /><br/>

        <label>Image:</label>
        <input type="file" th:name="picture">

        <label>User:</label>
        <label>
            <select th:field="*{user.id}">
                <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getName()}"></option>
            </select>
        </label>
        <br/>

        <th:block th:each="hashtag : ${hashtags}">
            <label>
                <input type="checkbox" name="hashtags" th:value="${hashtag.id}"/>
            </label>
            <label th:text="${hashtag.name}"></label>
        </th:block>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
    </form>

</div>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author Name</th>
            <th>Price</th>
            <th>Created Date</th>
            <th>User Name</th>
            <th>Hashtags</th>
            <th>Picture</th>
        </tr>
        <tr th:each="book : ${books}">
            <td> <a th:href="@{/books/{id}(id=${book.id})}" href="#"><span th:text="${book.getId()}">Id</span></a></td>
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getAuthorName()}"></td>
            <td th:text="${book.getPrice()}"></td>
            <td th:text="${book.getCreatedDate()}"></td>
            <td th:text="${book.getUser().getName()}"></td>
            <td>
                <div th:each="hastag: ${book.hashtags}">
                    <span th:text="${hastag.name} + ' '"></span>
                </div>
            </td>
            <td ><a th:if="${book.picUrl != null}" th:href="@{/image(picUrl=${book.picUrl})}"><img width="100"  th:src="@{/image(picUrl=${book.picUrl})}"></a> </td>        </tr>

         </table>
</div>
</body>
</html>